<?php
    $this->headTitle('Sign in');

    $form->get('email')
        ->setAttributes([
            'class'=>'form-control', 
            'placeholder'=>'User name',
            'required' => true,
            'autofocus' => true
        ])
        ->setLabelAttributes([
            'class' => 'sr-only'
        ]);

    $form->get('password')
        ->setAttributes([
            'class'=>'form-control', 
            'placeholder'=>'Password',
            'required' => true,
        ])
        ->setLabelAttributes([
            'class' => 'sr-only'
        ]);
?>

<div class="row">
    <div class="col-md-offset-4 col-md-3">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>

            <?php if ($isLoginError): ?>
                <div class="alert alert-danger" role="alert">
                    Incorrect login and/or password.
                </div>
            <?php endif; ?>

            <div class="form-group">
                <?= $this->formLabel($form->get('email')); ?>
                <?= $this->formElement($form->get('email')); ?>
            </div>
            <div class="form-group">
                <?= $this->formLabel($form->get('password')); ?>
                <?= $this->formElement($form->get('password')); ?>
            </div>

            <div class="checkbox">
                <label>
                    <?= $this->formElement($form->get('remember_me')); ?> Remember me
                </label>
            </div>

            <?= $this->formElement($form->get('csrf')) ?>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </div>
</div>