:root {
    --mdc-theme-primary: #0750c3;
    --mdc-theme-secondary: #cec43e;
    --mdc-theme-background: #0750c3;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

/* .btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
} */

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}


div.operation-selector-container {
    padding: 15px;
}

div.operation-selector-container div.row {
    padding: 15px;
}

div.fields-container {
    margin: 20px 0px;
}

div.action-button-container {
    margin: 20px 0px;
}

div.action-button-container .float-right {
    float: right;
}

img.customer-id-picture {
    max-height: 150px;
    max-width: 200px;
}

div.centered-container {
    text-align: center;
}

div.validation-error-alert {
    display: none;
    margin-top: 10px;
    text-align: center;
}

div.info-container {
    padding: 10px;
    text-align: center;
}

.form-control.error {
    border: 1px solid #b04442;
}

div.full-screen-overlay {
    /*opacity: 0.5; */
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

div.full-screen-overlay div.loading-container {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

@media only screen and (max-width: 800px) {
    div.full-screen-overlay div.loading-container {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 600px) {
    div.full-screen-overlay div.loading-container {
        margin-top: 30%;
    }
}

div.full-screen-overlay div.loading-container img {
    width: 200px;
    height: 200px;
}

div.submit-button-loading-container {
    margin: 20px 0;
}

div.submit-button-loading-container img {
    height: 40px
}

img.input-group-btn-img {
    max-height: 15px;
}

span.pending-tow-order-field-title {
    font-weight: bold;
}

div.enter-new-deal-main-action-container {
    margin: 10px;
}

ul.admin-pages {
    display: inline-flex;
    margin-left: 0px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.admin-pages li {
    margin: 3px;
}

.nav-drawer-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#open_drawer:hover, .mdc-toolbar__icon:hover {
    text-decoration: none;
    color: #FFF;
}

div.app-screen {
    margin: 10px;
    padding: 10px;
    /* box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12); */
}

h2.app-screen-title {
    margin: 10px 0;
}

label {
    font-weight: 500;
    font-size: medium;
}

.icon {
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.mdc-toolbar__title {
    font-size: 1.75rem;
}

.mdc-drawer__header {
    font-size: 20px;
}

.mdc-drawer--temporary .mdc-list-item {
    font-size: 1.5rem;
}

.mdc-list-item .glyphicon {
    font-size: x-large;
}

.btn {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.mdc-toolbar__section--align-end {
    margin-right: 10px;
}

.list-inline-item button.btn {
    width: 50px;
}

.btn-lg.btn-block span.glyphicon {
    float: right;
}

div.app-screen.capture-signature {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

div.capture-signature-sketchpad-container {
    width: 100%;
    height: 85%;
    position: absolute;
    padding: 20px;
    padding-top: 65px;
}

div.capture-signature-sketchpad-container canvas {
    border: 1px dashed grey;
    cursor: crosshair;
    border-bottom: 5px solid grey;
}

div.capture-signature-action-button-container {
    position: absolute;
    width: 100%;
    height: 15%;
    margin: 0;
    bottom: 0px;
    padding: 0px 20px;
}

div.capture-signature-action-button-container .float-right {
    float: right;
}

a.vehicle-information-button {
    position: relative;
}

a.vehicle-information-button span.glyphicon {
    position: absolute;
    right: 15px;
    top: 12px;
}

span.greeting {
    font-size: smaller;
}

span.version-number {
    font-size: small;
}

div.sticky-alerts-container {
    position: sticky;
    bottom: 15px;
    opacity: 0.8;
}

div.help-link-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: x-large;
}