<h1>An error occurred</h1>
<h2><?= $this->message ?></h2>

<?php if (! empty($this->display_exceptions)) : ?>
    <?php if (isset($this->exception)
        && ($this->exception instanceof \Exception || $this->exception instanceof \Error)) : ?>
<hr/>

<h2>Additional information:</h2>
<h3><?= get_class($this->exception) ?></h3>
<dl>
    <dt>File:</dt>
    <dd>
        <pre><?= $this->exception->getFile() ?>:<?= $this->exception->getLine() ?></pre>
    </dd>
    <dt>Message:</dt>
    <dd>
        <pre><?= $this->escapeHtml($this->exception->getMessage()) ?></pre>
    </dd>
    <dt>Stack trace:</dt>
    <dd>
        <pre><?= $this->escapeHtml($this->exception->getTraceAsString()) ?></pre>
    </dd>
</dl>

        <?php if ($ex = $this->exception->getPrevious()) : ?>
<hr/>

<h2>Previous exceptions:</h2>
<ul class="list-unstyled">
            <?php $icount = 0 ?>
            <?php while ($ex) : ?>
    <li>
        <h3><?= get_class($ex) ?></h3>
        <dl>
            <dt>File:</dt>
            <dd>
                <pre><?= $ex->getFile() ?>:<?= $ex->getLine() ?></pre>
            </dd>
            <dt>Message:</dt>
            <dd>
                <pre><?= $this->escapeHtml($ex->getMessage()) ?></pre>
            </dd>
            <dt>Stack trace:</dt>
            <dd>
                <pre><?= $this->escapeHtml($ex->getTraceAsString()) ?></pre>
            </dd>
        </dl>
    </li>
                <?php
                $ex = $ex->getPrevious();
                if (++$icount >= 50) {
                    echo '<li>There may be more exceptions, but we do not have enough memory to process it.</li>';
                    break;
                }
                ?>
            <?php endwhile ?>
</ul>
        <?php endif ?>
    <?php else : ?>
        <h3>No Exception available</h3>
    <?php endif ?>
<?php endif ?>

<?php

$errorInfoToLog = "App Error: " . $this->message . "\n";

if (isset($this->exception) && ($this->exception instanceof \Exception || $this->exception instanceof \Error)) {
    $errorInfoToLog .= "Additional Information\n\n";

    $errorInfoToLog .= "Exception Type: " . get_class($this->exception) . "\n";
    $errorInfoToLog .= "File: " . $this->exception->getFile() . ":" . $this->exception->getLine() . "\n";
    $errorInfoToLog .= "Message: " . $this->exception->getMessage() . "\n";
    $errorInfoToLog .= "Stack trace: " . $this->exception->getTraceAsString() . "\n\n";

    if ($ex = $this->exception->getPrevious()) {
        $errorInfoToLog .= "Previous exceptions\n\n";

        $icount = 0;
        while ($ex) {
            $errorInfoToLog .= "Exception Type: " . get_class($ex) . "\n";
            $errorInfoToLog .= "File: " . $ex->getFile() . ":" . $ex->getLine() . "\n";
            $errorInfoToLog .= "Message: " . $ex->getMessage() . "\n";
            $errorInfoToLog .= "Stack trace: " . $ex->getTraceAsString() . "\n\n";

            $ex = $ex->getPrevious();

            if (++$icount >= 10) {
                $errorInfoToLog .= "\nThere may be more exceptions, but we do not have enough memory to process it.\n";
                break;
            }
        }
    }
}

error_log($errorInfoToLog);

?>
