<?php $user = $this->identity() ?>

<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('CSAR Buy App')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink([
                'rel' => 'shortcut icon',
                'type' => 'image/vnd.microsoft.icon',
                'href' => $this->basePath() . '/img/favicon.png'
            ])
            ->appendStylesheet($this->basePath('css/material/typography.css'))
            ->appendStylesheet($this->basePath('css/material/toolbar.css'))
            ->appendStylesheet($this->basePath('css/material/drawer.css'))
            ->appendStylesheet($this->basePath('css/bootstrap.css'))
            ->appendStylesheet($this->basePath('css/bootstrap-datepicker3.standalone.css'))
            ->appendStylesheet($this->basePath('css/style.css'))
        ?>

        <!-- PWA manifest -->
        <link href="<?= $this->basePath("/manifest.json") ?>" rel="manifest">

        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="CSAR Buy">

        <link href="<?= $this->basePath("img/icons/icon-152x152.png") ?>" rel="apple-touch-icon">

        <meta name="msapplication-TileImage" content="<?= $this->basePath("img/icons/icon-144x144.png") ?>">
        <meta name="msapplication-TileColor" content="#2F3BA2">

        <!-- Scripts -->
        <?= $this->headScript()
            ->appendFile($this->basePath('js/lib/jquery.js'))
            ->appendFile($this->basePath('js/lib/jquery.validate.js'))
            ->appendFile($this->basePath('js/lib/additional-methods.js'))
            ->appendFile($this->basePath('js/lib/material-components-web.min.js'))
            ->appendFile($this->basePath('js/lib/bootstrap.js'))
            ->appendFile($this->basePath('js/lib/bootstrap-datepicker.js'))
            ->appendFile($this->basePath('js/lib/sketchpad.js'))
        ?>
    </head>
    <body class="mdc-typography">

        <header class="mdc-toolbar mdc-toolbar--fixed">
            <div class="mdc-toolbar__row">
                <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <a id="open_drawer" class="icon mdc-toolbar__menu-icon">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                    <span class="mdc-toolbar__title">CSAR Buy App</span>
                </section>
            </div>
        </header>

        <aside id="drawer" class="mdc-drawer mdc-drawer--temporary mdc-typography">
            <nav class="mdc-drawer__drawer">
                <header class="mdc-drawer__header">
                    <div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg nav-drawer-header"
                        style="background-image: url('<?= $this->basePath('img/logo.png') ?>');">
                        <span>
                            CSAR Buy App <span class="version-number">v0.9</span>
                            <?php if ($user) : ?>
                                <br>
                                <span class="greeting">Hello, <strong><?= $user->firstName ?> <?= $user->lastName ?></strong></span>
                            <?php endif; ?>
                        </span>
                    </div>
                </header>
                <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list-group">

                    <div class="mdc-list">
                        <a class="mdc-list-item" href="<?= $this->url('home') ?>">
                            <span class="mdc-list-item__graphic glyphicon glyphicon-home"
                                aria-hidden="true"></span> Home
                        </a>
                    </div>

                    <?php if ($user) : ?>
                        <hr class="mdc-list-divider">

                        <div class="mdc-list">
                            <a class="mdc-list-item" href="<?= $this->url('enter-new-deal') ?>">
                                <span class="mdc-list-item__graphic glyphicon glyphicon-plus"
                                    aria-hidden="true"></span> Enter New Deal
                            </a>
                            <a class="mdc-list-item" href="<?= $this->url('pending-deals') ?>">
                                <span class="mdc-list-item__graphic glyphicon glyphicon-list"
                                    aria-hidden="true"></span> Pending Deals
                            </a>
                            <a class="mdc-list-item" href="<?= $this->url('add-to-a-deal') ?>">
                                <span class="mdc-list-item__graphic glyphicon glyphicon-plus-sign"
                                    aria-hidden="true"></span> Add To A Deal
                            </a>
                            <a class="mdc-list-item" href="<?= $this->url('edit-old-deal') ?>">
                                <span class="mdc-list-item__graphic glyphicon glyphicon-edit"
                                    aria-hidden="true"></span> View/Edit Old Deal
                            </a>
                        </div>
                    <?php endif; ?>

                    <hr class="mdc-list-divider">

                    <div class="mdc-list">
                        <?php if ($user) : ?>
                            <a class="mdc-list-item" href="<?= $this->url('logout') ?>">
                                <span class="mdc-list-item__graphic glyphicon glyphicon-log-out"
                                    aria-hidden="true"></span> Log Out
                            </a>
                        <?php else : ?>
                            <a class="mdc-list-item" href="<?= $this->url('login') ?>">
                                <span class="mdc-list-item__graphic glyphicon glyphicon-log-in"
                                    aria-hidden="true"></span> Log In
                            </a>
                        <?php endif; ?>
                    </div>

                </nav>
            </nav>
        </aside>

        <div class="container">
            <?= $this->content ?>
            <!--<footer>
                 <p>&copy; <?= date('Y') ?> by Superlative Labs All rights reserved.</p>
            </footer>-->
        </div>
        <?= $this->inlineScript() ?>

        <script>
            let drawer = new mdc.drawer.MDCTemporaryDrawer(document.querySelector('#drawer'));
            document.querySelector('#open_drawer').addEventListener('click', () => drawer.open = true);
        </script>

    </body>
</html>
