<script src="<?= $this->basePath('js/add-to-a-deal.bundle.js') ?>"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div id="home" class="row enter-new-deal-container" data-bind="fadeVisible: shouldDisplayScreen($element.id)">
    <div class="col-sm-12">
        <h2>Select a Deal</h2>

        <div class="alert alert-warning info-container">
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </p>
            <p>
                These are deals that you have submitted recently: during the last two days.
                Press the <span class="label label-primary">Open</span> button in any one of
                them to create a new Tow Order with the same vehicle and customer info.
            </p>
        </div>

        <div class="alert alert-warning info-container" data-bind="visible: !(recentDeals().length)">
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </p>
            <p>
                There are no recent deals. If you feel that there should be some,
                make sure that you're connected to the internet and notice that
                deals older than two days won't show up here.
            </p>
        </div>

        <div data-bind="foreach: recentDeals">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span data-bind="text: customerName"></span>'s
                        <span data-bind="text: vehicleColor"></span>
                        <span data-bind="text: vehicleYear"></span>
                        <span data-bind="text: vehicleMake"></span>
                        <span data-bind="text: vehicleModel"></span>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="col-sm-5">
                        <p>
                            <span class="pending-tow-order-field-title">Location:</span>
                            <span data-bind="text: customerStreetAddress"></span>
                            <span data-bind="text: customerCity"></span>
                            <span data-bind="text: customerZip"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">VIN:</span>
                            <span data-bind="text: vehicleVin"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Title:</span>
                            <span data-bind="text: vehicleTitle"></span>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p>
                            <span class="pending-tow-order-field-title">Created:</span>
                            <span data-bind="text: createdDate"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Price:</span>
                            $<span data-bind="text: vehiclePurchasePrice"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Deal #:</span>
                            <span data-bind="text: dealId"></span>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            <a class="btn btn-primary btn-lg btn-block" data-bind="attr: { href: getOpenDealUrl() }">Open</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
