<script src="<?= $this->basePath('js/edit-old-deal.bundle.js') ?>"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div id="home" class="row" data-bind="fadeVisible: shouldDisplayScreen($element.id)">
    <div class="col-sm-12">
        <h2>Look up old deal</h2>

        <form id="search_deal_form">

            <div class="alert alert-warning info-container">
                <p>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </p>
                <p>
                    You can bring up a deal directly by entering a Deal Number.
                </p>
            </div>

            <div class="form-group">
                <label for="deal_number">Deal Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="deal_number" name="deal_number"
                        placeholder="Enter Deal Number"
                        data-bind="value: dealNumber" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" data-bind="click: fetchDealOnClick, disable: isLoadingRequest">
                            Fetch Deal <img src="img/loading_small.gif" alt="Loading..." class="input-group-btn-img" data-bind="visible: isLoadingRequest">
                        </button>
                    </span>
                </div>
            </div>

            <div id="fetch_deal_alerts_container"></div>

            <div class="alert alert-warning info-container">
                <p>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </p>
                <p>
                    Or, you can also perform a more general search.
                </p>
            </div>

            <div class="form-group">
                <label for="from_date">From date</label>
                <div class='input-group'>
                    <input type='text' class="form-control date-input-field"
                        id="from_date" name="from_date" placeholder="Enter date lower limit"
                        data-bind="value: fromDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="to_date">To date</label>
                <div class='input-group'>
                    <input type='text' class="form-control date-input-field"
                        id="to_date" name="to_date" placeholder="Enter date upper limit"
                        data-bind="value: toDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="vehicle_year">Year</label>
                <select class="form-control" id="vehicle_year" name="vehicle_year"
                        data-bind="options: vehicleYears, value: selectedVehicleYear,
                            optionsCaption: '- Select -',
                            event: { change: vehicleYearOnSelect }">
                </select>
            </div>

            <div class="form-group">
                <label for="vehicle_make">Make</label>
                <select class="form-control" id="vehicle_make" name="vehicle_make"
                    data-bind="options: vehicleMakes, value: selectedVehicleMake,
                            optionsValue: 'id', optionsText: 'name', optionsCaption: '- Select -',
                            event: { change: vehicleMakeOnSelect }">
                </select>
            </div>

            <div class="form-group">
                <label for="vehicle_model">Model</label>

                <!-- ko ifnot: manualVehicleModelEntryEnabled -->
                    <select class="form-control" id="vehicle_model" name="vehicle_model"
                            data-bind="options: vehicleModels, value: selectedVehicleModel,
                            optionsValue: 'id', optionsText: 'name', optionsCaption: '- Select -'">
                    </select>
                <!-- /ko -->

                <!-- ko if: manualVehicleModelEntryEnabled -->
                    <input class="form-control" id="vehicle_model" name="vehicle_model" type="text"
                        data-bind="value: selectedVehicleModel" />
                <!-- /ko -->

            </div>

            <div id="vehicle_description_alerts_container"></div>

            <div class="form-group">
                <label for="vehicle_color">Color</label>
                <input type="text" class="form-control" id="vehicle_color" name="vehicle_color"
                    placeholder="Enter color"
                    data-bind="value: vehicleColor" />
            </div>

            <div id="tow_data_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
                <a class="close" aria-label="close">&times;</a>
            </div>

            <div id="tow_data_alerts_container"></div>

            <div id="search_deal_alerts_container"></div>

            <div class="enter-new-deal-main-action-container centered-container">
                <button class="btn btn-lg btn-primary" data-bind="click: searchDealOnClick, disable: isLoadingRequest()">Search</button>
                <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>
            </div>
        </form>
    </div>
</div>


<div id="search-results" class="row" data-bind="fadeVisible: shouldDisplayScreen($element.id)">
    <div class="col-sm-12">
        <h2>Search Results</h2>

        <div data-bind="foreach: searchResultDeals">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span data-bind="text: customerName"></span>'s
                        <span data-bind="text: vehicleColor"></span>
                        <span data-bind="text: vehicleYear"></span>
                        <span data-bind="text: vehicleMake"></span>
                        <span data-bind="text: vehicleModel"></span>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="col-sm-5">
                        <p>
                            <span class="pending-tow-order-field-title">Location:</span>
                            <span data-bind="text: customerStreetAddress"></span>
                            <span data-bind="text: customerCity"></span>
                            <span data-bind="text: customerZip"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">VIN:</span>
                            <span data-bind="text: vehicleVin"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Title:</span>
                            <span data-bind="text: vehicleTitle"></span>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p>
                            <span class="pending-tow-order-field-title">Created:</span>
                            <span data-bind="text: createdDate"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Price:</span>
                            $<span data-bind="text: vehiclePurchasePrice"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Deal #:</span>
                            <span data-bind="text: dealNumber"></span>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            <a class="btn btn-primary btn-lg btn-block" data-bind="attr: { href: getOpenDealUrl() }">Edit</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="visible: searchResultDeals">
            <div class="row">
                <div class="col-sm-12">
                    <button id="prev_page" class="btn btn-primary" data-bind="click: showPreviousPage, disable: isLoadingRequest">Prev</button>

                    <ul class="list-inline admin-pages" data-bind="foreach: dataPages">
                        <li class="list-inline-item">
                            <button id="show_page" class="btn btn-primary"
                                data-bind="value: $data, text: $data, click: $parent.showPage, disable: $parent.isLoadingRequest,
                                            css: { active: $parent.pageIndex() == $data }"></button>
                        </li>
                    </ul>

                    <button id="next_page" class="btn btn-primary" data-bind="click: showNextPage, disable: isLoadingRequest">Next</button>

                    <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                        <img src="img/loading_small.gif" alt="Loading...">
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group action-button-container">
            <a class="btn btn-primary" href="#home">Back</a>
        </div>
    </div>
</div>