<script src="<?= $this->basePath('js/enter-new-deal.bundle.js') ?>"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
        <p id="page-loading-error"></p>
    </div>
</div>

<div id="home" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2 class="app-screen-title" data-bind="text: isEditing() ? 'Edit Deal' : 'New Deal'"></h2>

    <form id="enter_new_deal_form">

        <a class="btn btn-lg btn-primary btn-block" href="#customer-data">
            Customer Data
            <span class="glyphicon glyphicon-ok" data-bind="visible: isCustomerDataValid"></span>
        </a>
        <a class="btn btn-lg btn-primary btn-block" href="#vehicle-information">
            Vehicle Information
            <span class="glyphicon glyphicon-ok" data-bind="visible: isVehicleInformationValid"></span>
        </a>
        <a class="btn btn-lg btn-primary btn-block" href="#pickup-notes">
            Pickup Notes
            <span class="glyphicon glyphicon-ok" data-bind="visible: pickUpNotes"></span>
        </a>

        <div data-bind="visible: pastTowOrders().length > 0">
            <h3>Past Tows</h3>

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: pastTowOrders">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: towFromLocation"></td>
                        <td data-bind="text: towToLocation"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="fields-container">
            <div class="form-group">
                <label for="is_high_priority_tow">ER</label>
                <div>
                    <label class="checkbox-inline">
                        <input type="radio" name="is_high_priority_tow" id="is_high_priority_tow_yes" value="yes"
                            data-bind="checked: isHighPriorityTow"> Yes
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="is_high_priority_tow" id="is_high_priority_tow_no" value="no"
                            data-bind="checked: isHighPriorityTow"> No
                    </label>
                </div>
            </div>
        </div>

        <div class="alert alert-warning info-container" data-bind="visible: isCloned">
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </p>
            <p>
                This Deal and Tow Order that you're about to enter contain the same information
                as Deal #<span data-bind="text: clonedDealReferenceNumber"></span>.
            </p>
        </div>

        <div class="sticky-alerts-container">
            <div id="tow_data_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
                <a class="close" aria-label="close">&times;</a>
            </div>

            <div id="tow_data_alerts_container"></div>
        </div>

        <!-- ko if: dealSubmitted -->
            <div class="alert alert-info info-container" data-bind="visible: !(isEditing())">
                <p>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </p>
                <p>
                    The tow has been ordered. Ref. Number:
                    <span data-bind="text: dealReferenceNumber"></span>.
                    Tow Number: <span data-bind="text: towNumber"></span>.
                </p>
            </div>

            <div class="alert alert-info info-container" data-bind="visible: isEditing">
                <p>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </p>
                <p>
                    The deal has been updated. Ref. Number: 
                    <span data-bind="text: dealReferenceNumber"></span>.
                </p>
            </div>
        <!-- /ko -->

        <div class="enter-new-deal-main-action-container centered-container">
            <button class="btn btn-lg btn-primary"
                data-bind="click: orderTowOnClick,
                            disable: (dealSubmitted() && !isEditing()) || isLoadingRequest() || towOrderStoredLocally()">
                Order Tow
            </button>
        </div>
        <div class="enter-new-deal-main-action-container centered-container" data-bind="visible: isEditing">
            <button class="btn btn-lg btn-primary" data-bind="click: saveChangesOnClick, disable: isLoadingRequest">
                Save Changes
            </button>
        </div>
        <div class="centered-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
        </div>
        <div class="enter-new-deal-main-action-container centered-container">
            <button class="btn btn-lg btn-danger" data-bind="click: enterNewDealOnClick, disable: isLoadingRequest">Enter New Deal</button>
        </div>
    </form>
</div>

<div id="customer-data" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2 class="app-screen-title">Customer Data</h2>

    <form id="customer_data_form">
        <div class="form-group">
            <label for="customer_name">Name</label>
            <input type="text" class="form-control" id="customer_name" name="customer_name"
                placeholder="Enter name"
                data-bind="value: customerName" />
        </div>

        <div class="form-group centered-container">
            <a class="btn btn-primary" href="#capture-signature">Capture Signature</a>
            <span class="help-block">
                Capture the customer's signature
            </span>
        </div>

        <div class="form-group centered-container">
            <img class="customer-id-picture" data-bind="attr: { src: customerNamePicture() || 'img/seller_name_placeholder.png' }"/>
        </div>

        <div class="form-group">
            <label for="customer_id">Driver's License or ID</label>
            <input type="text" class="form-control" id="customer_id" name="customer_id"
                placeholder="Enter Driver's License or ID number"
                data-bind="value: customerId" />
        </div>

        <div class="form-group centered-container">
            <label class="btn btn-primary">
                Take Picture
                <input type="file" accept="image/*"
                    id="customer_id_picture" name="customer_id_picture"
                    style="display: none;" data-bind="event: { change: customerIdPictureOnChange }">

            </label>
            <span class="help-block">
                Take a picture of the customer's Driver's License or ID
            </span>
        </div>

        <div class="form-group centered-container">
            <img class="customer-id-picture" data-bind="attr: { src: customerIdPicture() || 'img/seller_id_placeholder.png' }"/>
        </div>

        <div class="form-group">
            <label for="customer_gender">Gender</label>
            <select class="form-control" id="customer_gender" name="customer_gender"
                    data-bind="options: genders, value: selectedCustomerGender,
                        optionsCaption: '- Select -'">
            </select>
        </div>

        <div class="form-group">
            <label for="customer_phone">Phone Number</label>
            <input type="text" class="form-control" id="customer_phone" name="customer_phone"
                placeholder="Enter phone"
                data-bind="value: customerPhone" />
        </div>

        <div class="form-group">
            <label for="customer_street_address">Steet Address</label>
            <input type="text" class="form-control" id="customer_street_address" name="customer_street_address"
                placeholder="Enter street number and name"
                data-bind="value: customerStreetAddress" />
        </div>

        <div class="form-group">
            <label for="customer_zip">Zip Code</label>
            <input type="text" class="form-control" id="customer_zip" name="customer_zip"
                placeholder="Enter zip code"
                data-bind="value: customerZip" />
        </div>

        <div class="form-group">
            <label for="customer_city">City</label>
            <div class="input-group">
                <input type="text" class="form-control" id="customer_city" name="customer_city"
                    placeholder="Enter city"
                    data-bind="value: customerCity" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-bind="click: findCityOnClick">
                        Find City <img src="img/loading_small.gif" alt="Loading..." class="input-group-btn-img" data-bind="visible: isLoadingRequest">
                    </button>
                </span>
            </div>
        </div>

        <div id="city_alerts_container"></div>

        <div class="form-group">
            <label for="customer_data_notes">Notes</label>
            <textarea rows="5" maxlength="500" class="form-control"
                id="customer_data_notes" name="customer_data_notes"
                placeholder="Enter any notes regarding the customer"
                data-bind="value: customerDataNotes"></textarea>
        </div>
    </form>

    <div id="customer_data_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>

    <div class="enter-new-deal-main-action-container centered-container" data-bind="visible: isEditing">
        <button class="btn btn-lg btn-primary" data-bind="click: saveChangesOnClick, disable: isLoadingRequest">
            Save Changes
        </button>
    </div>

    <div class="form-group action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" href="<?= $this->url('select-operation') ?>">Cancel</a>
            <a class="btn btn-primary" data-bind="click: customerDataDoneOnClick">Done</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#home">Back</a>
        </div>
    </div>
</div>

<div id="vehicle-information" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2 class="app-screen-title">Vehicle Information</h2>

    <a class="btn btn-lg btn-primary btn-block vehicle-information-button" href="#vehicle-description">
        Description (year/make/model)
        <span class="glyphicon glyphicon-ok" data-bind="visible: isVehicleDescriptionValid"></span>
    </a>
    <a class="btn btn-lg btn-primary btn-block vehicle-information-button" href="#vehicle-identification">
        Identification (VIN/title)
        <span class="glyphicon glyphicon-ok" data-bind="visible: isVehicleIdentificationValid"></span>
    </a>
    <a class="btn btn-lg btn-primary btn-block vehicle-information-button" href="#vehicle-purchase-details">
        Purchase Details
        <span class="glyphicon glyphicon-ok" data-bind="visible: isVehiclePurchaseDetailsValid"></span>
    </a>

    <div class="form-group action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" href="<?= $this->url('select-operation') ?>">Cancel</a>
            <a class="btn btn-primary" data-bind="click: vehicleInformationDoneOnClick">Done</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#home">Back</a>
        </div>
    </div>
</div>

<div id="vehicle-description" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2 class="app-screen-title">Vehicle Description</h2>

    <form id="vehicle_description_form">
        <div class="form-group">
            <label for="vehicle_year">Year</label>
            <select class="form-control" id="vehicle_year" name="vehicle_year"
                    data-bind="options: vehicleYears, value: selectedVehicleYear,
                        optionsCaption: '- Select -',
                        event: { change: vehicleYearOnSelect }">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_make">Make</label>
            <select class="form-control" id="vehicle_make" name="vehicle_make"
                data-bind="options: vehicleMakes, value: selectedVehicleMake,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: '- Select -',
                        event: { change: vehicleMakeOnSelect }">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_model">Model</label>

            <!-- ko ifnot: manualVehicleModelEntryEnabled -->
                <select class="form-control" id="vehicle_model" name="vehicle_model"
                        data-bind="options: vehicleModels, value: selectedVehicleModel,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: '- Select -'">
                </select>
            <!-- /ko -->

            <!-- ko if: manualVehicleModelEntryEnabled -->
                <input class="form-control" id="vehicle_model" name="vehicle_model" type="text"
                    data-bind="value: selectedVehicleModel" />
            <!-- /ko -->
        </div>

        <div class="centered-container">
            <div data-bind="visible: isLoadingRequest" class="submit-button-loading-container">
                <p>Loading models...</p>
                <img src="img/loading_small.gif" alt="Loading...">
            </div>
        </div>

        <div id="vehicle_description_alerts_container"></div>

        <div class="form-group">
            <label for="vehicle_color">Color</label>
            <input type="text" class="form-control" id="vehicle_color" name="vehicle_color"
                placeholder="Enter color"
                data-bind="value: vehicleColor" />
        </div>

        <div class="form-group centered-container">
            <label class="btn btn-primary">
                Take Picture
                <input type="file" accept="image/*"
                    id="vehicle_picture" name="vehicle_picture"
                    style="display: none;" data-bind="event: { change: vehiclePictureOnChange }">
            </label>
            <button class="btn btn-primary" data-bind="click: clearVehiclePhotos">Clear</button>
            <span class="help-block">
                Take pictures of the vehicle
            </span>
        </div>

        <div class="form-group centered-container" data-bind="foreach: vehiclePictures">
            <img class="customer-id-picture" data-bind="attr: { src: $data }"/>
        </div>

        <div class="form-group centered-container" data-bind="visible: vehiclePictures().length < 1">
            <img class="customer-id-picture" src="img/vehicle_placeholder.png"/>
        </div>

        <div class="form-group">
            <label for="vehicle_description_notes">Notes</label>
            <textarea rows="5" maxlength="500" class="form-control"
                id="vehicle_description_notes" name="vehicle_description_notes"
                placeholder="Enter any notes regarding the vehicle description"
                data-bind="value: vehicleDescriptionNotes"></textarea>
        </div>
    </form>

    <div id="vehicle_description_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>

    <div class="enter-new-deal-main-action-container centered-container" data-bind="visible: isEditing">
        <button class="btn btn-lg btn-primary" data-bind="click: saveChangesOnClick, disable: isLoadingRequest">
            Save Changes
        </button>
    </div>

    <div class="form-group action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" href="<?= $this->url('select-operation') ?>">Cancel</a>
            <a class="btn btn-primary" data-bind="click: vehicleDescriptionDoneOnClick">Done</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#vehicle-information">Back</a>
        </div>
    </div>
</div>

<div id="vehicle-identification" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2>Vehicle Data</h2>

    <form id="vehicle_identification_form">
        <div class="form-group">
            <label for="vehicle_vin">Vehicle Id Number</label>
            <div class="input-group">
                <input type="text" class="form-control" id="vehicle_vin" name="vehicle_vin"
                    placeholder="Enter VIN"
                    data-bind="value: vehicleVin" />
                <span class="input-group-btn">
                    <a class="btn btn-primary" href="https://services.flhsmv.gov/MVCheckWeb/" target="_blank">Check VIN</a>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="vehicle_has_title">Customer has vehicle title?</label>
            <div>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_has_title" id="vehicle_has_title_yes" value="yes" data-bind="checked: vehicleHasTitle"> Yes
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="vehicle_has_title" id="vehicle_has_title_no" value="no" data-bind="checked: vehicleHasTitle"> No
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="vehicle_title">Vehicle Title</label>
            <div class="input-group">
                <input type="text" class="form-control" id="vehicle_title" name="vehicle_title"
                    placeholder="Enter title number"
                    data-bind="value: vehicleTitle" />
                <span class="input-group-btn">
                    <a class="btn btn-primary" href="https://services.flhsmv.gov/MVCheckWeb/" target="_blank">Check Title</a>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="vehicle_identification_notes">Notes</label>
            <textarea rows="5" maxlength="500" class="form-control"
                id="vehicle_identification_notes" name="vehicle_identification_notes"
                placeholder="Enter any notes regarding the vehicle identification info"
                data-bind="value: vehicleIdentificationNotes"></textarea>
        </div>
    </form>

    <div id="vehicle_identification_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>

    <div class="enter-new-deal-main-action-container centered-container" data-bind="visible: isEditing">
        <button class="btn btn-lg btn-primary" data-bind="click: saveChangesOnClick, disable: isLoadingRequest">
            Save Changes
        </button>
    </div>

    <div class="form-group action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" href="<?= $this->url('select-operation') ?>">Cancel</a>
            <a class="btn btn-primary" data-bind="click: vehicleIdentificationDoneOnClick">Done</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#vehicle-information">Back</a>
        </div>
    </div>
</div>

<div id="vehicle-purchase-details" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2>Vehicle Purchase Details</h2>

    <form id="vehicle_purchase_details_form">
        <div class="form-group">
            <label for="vehicle_wheels">Wheels</label>
            <select class="form-control" id="vehicle_wheels" name="vehicle_wheels"
                    data-bind="options: vehicleWheelTypes, value: selectedVehicleWheelType,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: '- Select -',">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_body_style">Body Style</label>
            <select class="form-control" id="vehicle_body_style" name="vehicle_body_style"
                    data-bind="options: vehicleBodyStyles, value: selectedVehicleBodyStyle,
                        optionsValue: 'id', optionsText: 'name', optionsCaption: '- Select -',">
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle_purchase_price">Purchase Price</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" placeholder="Enter purchase price"
                    id="vehicle_purchase_price" name="vehicle_purchase_price"
                    data-bind="value: vehiclePurchasePrice" />
            </div>
        </div>

        <div class="form-group">
            <label for="vehicle_purchase_details_notes">Notes</label>
            <textarea rows="5" maxlength="500" class="form-control"
                id="vehicle_purchase_details_notes" name="vehicle_purchase_details_notes"
                placeholder="Enter any notes regarding the vehicle purchase details"
                data-bind="value: vehiclePurchaseDetailsNotes"></textarea>
        </div>
    </form>

    <div id="vehicle_purchase_details_validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
        <a class="close" aria-label="close">&times;</a>
    </div>

    <div class="enter-new-deal-main-action-container centered-container" data-bind="visible: isEditing">
        <button class="btn btn-lg btn-primary" data-bind="click: saveChangesOnClick, disable: isLoadingRequest">
            Save Changes
        </button>
    </div>

    <div class="form-group action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" href="<?= $this->url('select-operation') ?>">Cancel</a>
            <a class="btn btn-primary" data-bind="click: vehiclePurchaseDetailsDoneOnClick">Done</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#vehicle-information">Back</a>
        </div>
    </div>
</div>

<div id="pickup-notes" class="app-screen" data-bind="fadeVisible: shouldDisplayScreen($element.id)">

    <h2>Pick Up Notes</h2>

    <form id="pick_up_notes_form">
        <div class="form-group">
            <label for="pick_up_notes">Details</label>
            <textarea rows="10" class="form-control"
                id="pick_up_notes" name="pick_up_notes"
                placeholder="Special instructions for pickup"
                data-bind="value: pickUpNotes"></textarea>
        </div>
    </form>

    <div class="form-group action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" href="<?= $this->url('select-operation') ?>">Cancel</a>
            <a class="btn btn-primary" data-bind="click: pickUpNotesDoneOnClick">Done</a>
        </div>
        <div>
            <a class="btn btn-primary" href="#home">Back</a>
        </div>
    </div>
</div>

<div id="capture-signature" class="app-screen capture-signature" data-bind="fadeVisible: shouldDisplayScreen($element.id)">
    <div id="capture-signature-sketchpad-container" class="capture-signature-sketchpad-container">
        <canvas id="capture-signature-sketchpad"></canvas>
    </div>

    <div class="capture-signature-action-button-container">
        <div class="float-right">
            <a class="btn btn-warning" data-bind="click: captureSignatureClearOnClick">Clear</a>
            <a class="btn btn-primary" data-bind="click: captureSignatureDoneOnClick">Done</a>
        </div>
        <div>
        <a class="btn btn-primary" href="#customer-data">Back</a>
        </div>
    </div>
</div>
