<script src="<?= $this->basePath('js/select-operation.main.js') ?>"></script>

<div class="col-sm-12 operation-selector-container">
    <h2>Home Screen</h2>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('enter-new-deal') ?>">Enter New Deal</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('pending-deals') ?>">Pending Deals</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('add-to-a-deal') ?>">Add To A Deal</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('edit-old-deal') ?>">View/Edit Old Deal</a>
        </div>
    </div>

</div>
