<script src="<?= $this->basePath('js/pending-deals.bundle.js') ?>"></script>

<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading_icon.gif" alt="Loading...">
    </div>
</div>

<div id="home" class="row enter-new-deal-container" data-bind="fadeVisible: shouldDisplayScreen($element.id)">
    <div class="col-sm-12">
        <h2>Pending Deals</h2>

        <div class="alert alert-warning info-container">
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </p>
            <p>
                These are deals that you have captued but, due to conectivity issues,
                haven't been able to be submitted to <b>Core Support</b>. When you have a more
                stable internet connection, you can resend them by clicking
                the <span class="label label-primary">Submit</span> button.
            </p>
        </div>

        <div class="alert alert-warning info-container" data-bind="visible: !(pendingTowOrders().length)">
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </p>
            <p>
                There are no deals currently pending submission.
            </p>
        </div>

        <div id="tow_data_alerts_container"></div>

        <div data-bind="foreach: pendingTowOrders">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span data-bind="text: customerName"></span>'s
                        <span data-bind="text: vehicleColor"></span>
                        <span data-bind="text: vehicleYear"></span>
                        <span data-bind="text: vehicleMake"></span>
                        <span data-bind="text: vehicleModel"></span>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <img class="customer-id-picture" data-bind="attr: { src: customerIdPicture() || 'img/seller_id_placeholder.png' }"/>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <p>
                            <span class="pending-tow-order-field-title">Location:</span>
                            <span data-bind="text: customerStreetAddress"></span>
                            <span data-bind="text: customerCity"></span>
                            <span data-bind="text: customerZip"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">VIN:</span>
                            <span data-bind="text: vehicleVin"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Title:</span>
                            <span data-bind="text: vehicleTitle"></span>
                        </p>
                        <p>
                            <span class="pending-tow-order-field-title">Price:</span>
                            $<span data-bind="text: vehiclePurchasePrice"></span>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            <button class="btn btn-primary btn-lg btn-block" data-bind="click: submitTowOrderOnClick, disable: $parent.isLoadingRequest()">Submit</button>
                        </p>
                        <p>
                            <a class="btn btn-primary btn-lg btn-block" data-bind="attr: { href: getModifyTowOrderLink() }, css: { disabled: $parent.isLoadingRequest() }">Modify</a>
                        </p>
                        <p>
                            <button class="btn btn-primary btn-lg btn-block" data-bind="click: cancelTowOrderOnClick, disable: $parent.isLoadingRequest()">Cancel</button>
                        </p>
                        <div data-bind="visible: $parent.isLoadingRequest()" class="submit-button-loading-container">
                            <img src="img/loading_small.gif" alt="Loading...">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
