<script src="<?= $this->basePath('js/select-operation.main.js') ?>"></script>

<div class="operation-selector-container">
    <h2>Home Screen</h2>

    <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('enter-new-deal') ?>">Enter New Deal</a>
    <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('pending-deals') ?>">Pending Deals</a>
    <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('add-to-a-deal') ?>">Add To A Deal</a>
    <a class="btn btn-lg btn-primary btn-block" href="<?= $this->url('edit-old-deal') ?>">View/Edit Old Deal</a>

    <div class="help-link-container">
        <a target="_blank" href="static/buy_app_manual.pdf">Help</a>
    </div>
</div>
